[submodule "plugins/git-content/site/plugins/git-content"]
	path = plugins/git-content/site/plugins/git-content
	url = https://github.com/thathoff/kirby-git-content.git
[submodule "kirby"]
	path = kirby
	url = git@github.com:getkirby/kirby.git
