[submodule "plugins/git-content/site/plugins/git-content"]
	path = plugins/git-content/site/plugins/git-content
	url = git@github.com:bastianallgeier/kirby-git-content.git
[submodule "kirby"]
	path = kirby
	url = git@github.com:getkirby/kirby.git
[submodule "plugins/retour/site/plugins/retour"]
	path = plugins/retour/site/plugins/retour
	url = https://github.com/distantnative/retour-for-kirby.git
[submodule "plugins/locator/site/plugins/locator"]
	path = plugins/locator/site/plugins/locator
	url = https://github.com/sylvainjule/kirby-locator.git
[submodule "plugins/seo/site/plugins/seo"]
	path = plugins/seo/site/plugins/seo
	url = https://github.com/tobimori/kirby-seo.git
[submodule "plugins/modules/site/plugins/modules"]
	path = plugins/modules/site/plugins/modules
	url = https://github.com/medienbaecker/kirby-modules.git
[submodule "plugins/navigation/site/plugins/navigation"]
	path = plugins/navigation/site/plugins/navigation
	url = https://github.com/chrisbeluga/kirby-navigation.git
[submodule "plugins/minimap/site/plugins/minimap"]
	path = plugins/minimap/site/plugins/minimap
	url = https://github.com/johannschopplich/kirby-minimap.git
[submodule "plugins/language-selector/site/plugins/language-selector"]
	path = plugins/language-selector/site/plugins/language-selector
	url = https://github.com/junohamburg/kirby-language-selector.git
[submodule "plugins/komments/site/plugins/komments"]
	path = plugins/komments/site/plugins/komments
	url = https://github.com/mauricerenck/komments.git
[submodule "plugins/embed/site/plugins/embed"]
	path = plugins/embed/site/plugins/embed
	url = https://github.com/sylvainjule/kirby-embed.git
