[submodule "plugins/git-content/site/plugins/git-content"]
	path = plugins/git-content/site/plugins/git-content
	url = git@github.com:bastianallgeier/kirby-git-content.git
[submodule "kirby"]
	path = kirby
	url = git@github.com:getkirby/kirby.git
[submodule "plugins/retour/site/plugins/retour"]
	path = plugins/retour/site/plugins/retour
	url =  git@github.com:distantnative/retour-for-kirby.git
[submodule "plugins/locator/site/plugins/locator"]
	path = plugins/locator/site/plugins/locator
	url =  git@github.com:sylvainjule/kirby-locator.git
[submodule "plugins/seo/site/plugins/seo"]
	path = plugins/seo/site/plugins/seo
	url =  git@github.com:tobimori/kirby-seo.git
[submodule "plugins/modules/site/plugins/modules"]
	path = plugins/modules/site/plugins/modules
	url =  git@github.com:medienbaecker/kirby-modules.git
[submodule "plugins/navigation/site/plugins/navigation"]
	path = plugins/navigation/site/plugins/navigation
	url =  git@github.com:chrisbeluga/kirby-navigation.git
[submodule "plugins/minimap/site/plugins/minimap"]
	path = plugins/minimap/site/plugins/minimap
	url =  git@github.com:johannschopplich/kirby-minimap.git
[submodule "plugins/language-selector/site/plugins/language-selector"]
	path = plugins/language-selector/site/plugins/language-selector
	url =  git@github.com:junohamburg/kirby-language-selector.git
[submodule "plugins/komments/site/plugins/komments"]
	path = plugins/komments/site/plugins/komments
	url =  git@github.com:mauricerenck/komments.git
[submodule "plugins/embed/site/plugins/embed"]
	path = plugins/embed/site/plugins/embed
	url =  git@github.com:sylvainjule/kirby-embed.git
[submodule "plugins/arborescence/site/plugins/arborescence"]
	path = plugins/arborescence/site/plugins/arborescence
	url =  git@github.com:Daandelange/kirby-arborescence.git
[submodule "plugins/kirbyuse/site/plugins/kirbyuse"]
	path = plugins/kirbyuse/site/plugins/kirbyuse
	url = git@github.com:johannschopplich/kirbyuse.git
[submodule "plugins/markdown-field/site/plugins/markdown-field"]
	path = plugins/markdown-field/site/plugins/markdown-field
	url = git@github.com:fabianmichael/kirby-markdown-field.git
[submodule "plugins/table-field/site/plugins/table-field"]
	path = plugins/table-field/site/plugins/table-field
	url = git@github.com:bogdancondorachi/kirby-table-field.git
[submodule "plugins/adminbar/site/plugins/adminbar"]
	path = plugins/adminbar/site/plugins/adminbar
	url = git@github.com:Pechente/kirby-admin-bar.git
[submodule "plugins/plausible/site/plugins/plausible"]
	path = plugins/plausible/site/plugins/plausible
	url = git@github.com:floriankarsten/kirby-plausible.git
[submodule "plugins/remix-icons/site/plugins/remix-icons"]
	path = plugins/remix-icons/site/plugins/remix-icons
	url =  git@github.com:veryrobert/kirby-remix-icons.git
[submodule "plugins/visual-block-selector/site/plugins/visual-block-selector"]
	path = plugins/visual-block-selector/site/plugins/visual-block-selector
	url = git@github.com:junohamburg/kirby-visual-block-selector.git
