<!doctype html>
<html lang="{{ site.language()|default('en') }}">
  <head>
    <title>{{ page.title|default('No title') }}</title>
  </head>
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>